<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>log4jWeb</display-name>
  <welcome-file-list>
    <welcome-file>logViewer.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogPuller</display-name>
    <servlet-name>LogPuller</servlet-name>
    <servlet-class>the.bhushan.serlvet.LogPuller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogPuller</servlet-name>
    <url-pattern>/LogPuller</url-pattern>
  </servlet-mapping>
</web-app>